.bg-red{
    background-color:#B42D15;
}

.color-red{
    color:#B42D15;
}

.btn-danger:hover{
    color:#FFFFFF;
    box-shadow:0px 0px 0px 4px rgba(255, 0, 70, 0.5), rgba(255, 0, 70, 0.5);
}

html, body{
    font-family: 'Roboto', sans-serif;

}

.header-ust .item a{
    color: #000000;
}

.header-ust .item a:hover{
    color: #B42D15;
}

.navbar .nav-item{
    padding:0 15px;
    font-size: 20px; 
}

#anasayfa .navbar .nav-item .nav-link{
    color:#000000;
}

#anasayfa .navbar .nav-item .nav-link:hover{
    color:#B42D15;
}

 .navbar .sepet-icon{
    color:#ffffff;
    padding:5px 10px;
    border-radius: 5px;
}

#anasayfa.yeni-sezon-baslik
{
    font-size: 36px;
    color: #42B32F;
    text-align: center;
    font-weight: 500;
    margin-bottom: 70px;
}

#anasyfa.yeni-sezon-baslik:after {
    content: "";
    position: absolute;
    width: 7.5%;
    left: 46.5%;
    height: 45px;
    border-bottom: 1px solid #5e5e5e;
}

.baslik {
    font-size: 36px;
        font-weight: bold;
        color: #302424;
        padding: 5px;
    } 
    
    .alt-baslik {
        font-size: 22px;
        font-weight: lighter;
        color: #1f1818;
        padding-bottom: 5px;
    } 
    
    #anasayfa .yeni-sezon,.yeni-sezon-banner
    {
        float:left;
        width:100%;
        margin-bottom: 50px;
    }
    
    #anasayfa .yeni-sezon:hover,.yeni-sezon-banner:hover{
        opacity:0.8;
    }
    
    #anasayfa .product-box {
        font: 13px/23px;
        color: #000000;  
        padding: 40px 0;
        
      }
    
    #anasayfa .product-box .prodcontainer{
        margin: 0 auto;
        width: 300px;
        height: 465px;
        background: white;
        border-radius: 3px;
        position: relative
    }
    
    
    #anasayfa .featured-products .bilgi {
        text-align: center;
        margin-top: 18px;
      }
    
    #anasayfa .featured-products .ad {
        font-size: 22px;
      }
    
    #anasayfa .featured-products .marka {
        font-size: 16px;
        color: #5e5454;
      }
    
    #anasayfa .featured-products .fiyat{
        font-size: 20px;
        margin-bottom: 28px;
     }
      
    
    #anasayfa .featured-products .button {
        text-decoration: none;
        background: #000000;
        color: white;
        font-size: 16px;
        font-weight: 500;
        padding: 10px 50px;
        border-radius: 5px;
        margin-bottom:30px;
    }
    
    #anasayfa .featured-products .button:hover {
        background: #a50d0d;
    }
    
    #anasayfa .product-box
    {
        float:left;
        width:100%;
        margin-bottom: 25px;
    }
    
    #anasayfa .baslik2{
        text-transform: uppercase;
        letter-spacing: 3px;
        color:#B42D15;
        text-align: center!important;
    }
    
    
    #anasayfa h5{
        text-align: center!important;
        margin-bottom: .5rem;
        font-weight: 500;
        line-height: 1.2;
    }
    
    #footer .footer-top {
        background: #faf8f8;
        padding: 25px 0;
    }
    
    #footer .footer-top .social {
        width: 50%;
        margin-left: 60px;
    }
    
    #footer .footer-top form input {
        background-color: rgba(255, 255, 255, 0.8);
        border-color: #B42D15;
        padding-left: 20px;
        margin: 10px 0;
    }
    
    #footer .footer-top form .form-control:focus {
        box-shadow: 0 0 5px 0 #B42D15;
    }
    
    #footer .footer-top .social a i {
        font-size: 24px;
        color: #000000;
        transition: 0.5s ease;
    }
    
    #footer .footer-top .social a i:hover {
        color: #FF004D;
    }
    
    #footer .footer-bottom {
        color: #ffffff;
        background-color: #B42D15;
        padding: 8px 0 1px;
        text-align: center;
    }
    
    #footer .footer-bottom a {
        color: #FFFFFF;
    }
    


